/*CSS DOCUMENT */

html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
} 

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0em 0em; 
	padding: 0em; 
	font-size: 1em; 
	font-weight: normal;
}

body {
	background-color: #EBEFEE;
	color: #303030;
	font-family: "reiher-headline", sans-serif;
	font-weight: 400;
	font-style: normal;
}

div.container {
	max-width: 40em;
	margin: auto;
	padding: 1em;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}
p {
	margin: 0em 0em .5em ;
	line-height: 1.45em;
}
h1 {
	font-size: 2.75em; 
	font-weight: 700;
}

h2 {
	font-size: 2em; 
	font-weight: 700;
	margin: 2em 0em 1em;
}

h3 {
	font-size: 1.5em; 
	font-weight: 700;
	margin: 1em 0em 1em;
}

h3.Trade {
	font-family: "trade-gothic-next", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration-line: underline;
    text-decoration-color: #7193ff;
    text-decoration-thickness: .1em;
}

h3.Franklin {
	font-family: "franklin-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration-line: underline;
    text-decoration-color: #f7a348;
    text-decoration-thickness: .1em;
}

img {
	width: 100%;
	display: block;
}

div.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 1em;
}
figcaption {
	margin: 1em 0em;
}