/*CSS DOCUMENT*/
html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
} 
/*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

div {
	max-width: 75rem;
	margin: auto;
	background-color: rgb(245, 245, 245);
}

div.home-container {
	background: url(images/back-image.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container {
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */
body {
	font-family: "calder-dark-grit", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: rgb(150, 150, 150);
}

main {
	margin: 1rem;
	padding: 1rem;
	font-family: "calder-dark-grit", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: .75rem;
}

img {
	width: 100%;
	/*Please leave this line.*/
	display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(192, 64, 0);
	padding: 1rem 0.5rem;
}

h1 {
	width: 10rem;
	padding: .7rem;
}

h2,
h3,
h4 {
	font-weight: bold;
	font-family: "Citrus Gothic", sans-serif;
	color: rgb(192, 64, 0);
}

h2 {
	font-size: 3.3rem;
	margin: 2rem 1rem 2rem;
}

h3 {
	font-size: 2.2rem;
	margin: 3rem 1rem 2rem;
}

h4 {
	font-size: 1.6rem;
	margin: 1.5rem 1rem 1rem;
}

a {
	text-decoration: none;
}

nav ul {
	text-align: right;
	padding: .4rem;
	margin-top: 1rem;
}

ul li {
	list-style-type: none;
}

figure {
	margin: 0rem;
	margin-bottom: 2rem;
}

main.menu {
	padding: 5;
}

main.menu ul {
	margin: 0;
}

main.menu ul li {
	margin: 0rem;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

p {
	margin: 1rem 1rem 2rem 1rem;
	font-size: 1rem;
}

p.description {
	grid-column: 1/3;
	margin: 1rem;
	margin-bottom: 3rem;
}

p.price {
	grid-column: 2/3;
	grid-row: 1/2;
	color: rgb(255, 124, 0);
	text-align: right;
	margin-top: 2rem;

}

nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

nav ul li a {
	color: rgb(255, 255, 255);
	background-color: rgb(122, 14, 0);
	padding: 0.5rem;
	font-size: 1.1rem;
}

nav ul li.selected a {
	background-color: rgb(255, 124, 0);
	color: rgb(255, 255, 255);
}

p.slogan {
	font-size: 5rem;
	font-family: "Citrus Gothic", sans-serif;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	margin: 3rem 1rem 10rem 1rem;
	color: rgb(255, 255, 255);
}

footer {
	bottom: 0;
	position: absolute;
	width: 100%;
	box-sizing: content-box;
	padding: 1rem;
	background: rgb(192, 64, 0);
}

p.address {
	color: rgb(255, 255, 255);
	margin: 0.5rem 0.5rem 1rem 1rem;
	font-size: 1rem;
	font-family: "calder-dark-grit", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p.address-contact {
	color: rgb(255, 124, 0);
	margin: 0.5rem 0.5rem 1rem 1rem;
	font-family: "calder-dark-grit", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
}

footer p {
	margin: 0rem;
	color: rgb(255, 255, 255);
}

article {
	padding: 1rem;
	margin-bottom: 1rem;
}

@media screen and (min-width: 60em) {
	nav ul {
		padding-top: 1rem;
	}

	nav ul li {
		display: inline;
		font-size: 1rem;
		padding: 0.5rem;
	}

	nav ul li a {
		padding: 0.7rem;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	article {
		margin: 1rem;
		margin-bottom: 3rem;
	}
}
